/**************************************************

 BROWSER RESET STYLES

 Based on:

 Eric Meyer's Browser Reset
 http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)

 html5doctor.com Reset Stylesheet
 v1.6.1
 Last Updated: 2010-09-17
 Author: Richard Clark - http://richclarkdesign.com 
 Twitter: @rich_clark

**************************************************/

*, *:after, *:before {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  line-height: 1;
}
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
  display: block;
}
label, input[type='button'], input[type='submit'], button, a {
  cursor: pointer;
}
[hidden], audio:not([controls]) {
  display: none;
}

/* TEXT ELEMENT RESETS */

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  &:hover, &:focus {
    outline: none;
  }
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
ins {
  color: $body-text;
  text-decoration: none;
}
mark {
  color: $body-text;
}
del {
  text-decoration: line-through;
}
abbr {
  cursor: help;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: bold;
}
em > strong, strong > em {
  font-weight: bold;
  font-style: italic;
}
sub, sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
pre, code, kbd, samp {
  font-family: $code-font;
  font-size: 1em;
}

/* TABLE ELEMENT RESETS */

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font: 100%;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td, td img {
  vertical-align: top;
}

/* FORM ELEMENT RESETS */

input, select, textarea {
  outline: none;
}
input, select {
  vertical-align: middle;
}
textarea {
  overflow: auto;
}
input[type="radio"] { vertical-align: text-bottom }
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
button {
  width: auto;
  overflow: visible;
}

/* GRAPHIC ELEMENT RESETS */

hr {
  display: block;
  height: 1px;
  border:0;
  border-top: $border-color;
  margin: 1em 0;
  padding: 0;
}
img, object, embed {
  max-width: 100%;
  height: auto !important;
  border: 0;
  .ie8 & {
    width: auto;
  }
  .ie7 & {
    -ms-interpolation-mode: bicubic;
  }
}
svg:not(:root) {
  overflow: hidden;
}