/**************************************************
 FONT STACKS
**************************************************/

$sans-serif: "Helvetica Neue", Helmet, Freesans, sans-serif;
$serif: Georgia, Times, "Times New Roman", serif;
$monospace: "courier new", monospace, serif;

/**************************************************
 FONT USAGE
**************************************************/

$body-font: $sans-serif;
$headline-font: $sans-serif;
$code-font: $monospace;

/**************************************************
 COLOR PALETTE
**************************************************/

$black: #000;
$dk-gray: #404040;
$gray: #808080;
$lt-gray: #bfbfbf;
$white: #fff;

/**************************************************
 COLOR USAGE
**************************************************/

$selection-bg: transparentize($lt-gray, 0.5);
$selection-text: $black;

/* Base Colors */
$body-bg: $white;
$body-text: $black;
$border-color: $dk-gray;

/* Link Colors */
$link-color: $gray;
$link-hover: $dk-gray;

/**************************************************
 UNICODE CHARACTERS
**************************************************/

$vertical-bar: "\007C";
$bullet: "\U2022";
$triangle-down: "\U25BC";
$triangle-up: "\U25B2";

/**************************************************
 SITE SPECIFIC
**************************************************/

$base-size: 10;