/**************************************************
 SHAREABLE STYLES
**************************************************/

%site-column {
  max-width: 1080px;
  margin-left: 0;
  margin-right: 0;
}

%clearfix {
  zoom: 1;
  &:before,
  &:after {
    display:table;
    visibility:hidden;
    content:"";
  }
  &:after {
    clear:both;
  }
}
