/**************************************************
 LAYOUT STYLES
**************************************************/

%site-column {
  max-width: #{1080/16.0}em;
  margin-left: auto;
  margin-right: auto;
}

%major-column {
  @include break-up($medium){
    float: left;
    width: 70%;
  }
}

%minor-column {
  @include break-up($medium){
    float: right;
    width: 25%;
  }
}